body {color: #FFFFFF; background-color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 10px; margin: 0em;}

TABLE.mainbody {color: #343434;}

TABLE.faq {BORDER: 2px #999999 solid; BACKGROUND-COLOR: #dddddd;}

TABLE.find                {COLOR: #000000; border: #000066 1px solid;}
TABLE.find TD             {border:#000066 1px solid;}
TABLE.find TD.bottom      {COLOR: #FFFFFF;BACKGROUND-COLOR: #000066;}
TABLE.findtop             {COLOR: #000000;}
TABLE.findtop TD.topleft  {BACKGROUND-COLOR: #000066;}
TABLE.findtop TD.top      {COLOR: #FFFFFF; BACKGROUND-COLOR: #000066; }
TABLE.findtop TD.topright {BACKGROUND-COLOR: #000066;}

TABLE.border       {COLOR: #000000; BACKGROUND-COLOR: #282828;}
TABLE.charttborder {COLOR: #000000; BACKGROUND-COLOR: #282828;}

TABLE.reagents TD         {BORDER: 0px;}
table.no_border TD        {BORDER: 0px;}
table.quest_reward TD     {BORDER: 0px;}

hr {color: #000000; height: 1px; width: 100%;}
a:link, a:visited {color: #4D7282; text-decoration: none; font-weight: bold; font-size: 12px;}
