BODY {FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 13px; MARGIN: 0px; COLOR: #9E8D51; BACKGROUND-COLOR: #000000;}
A:link    {COLOR: #FF9900; TEXT-DECORATION: none;}
A:visited {COLOR: #FF9900; TEXT-DECORATION: none;}

SPAN.quality0  {COLOR: #808080;DISPLAY: block; FONT-WEIGHT: bold;}
SPAN.quality1  {COLOR: #ffffff;DISPLAY: block; FONT-WEIGHT: bold;}
SPAN.quality2  {COLOR: #00ff00;DISPLAY: block; FONT-WEIGHT: bold;}
SPAN.quality3  {COLOR: #0068ff;DISPLAY: block; FONT-WEIGHT: bold;}
SPAN.quality4  {COLOR: #8000ff;DISPLAY: block; FONT-WEIGHT: bold;}
SPAN.quality5  {COLOR: #ff8000;DISPLAY: block; FONT-WEIGHT: bold;}
SPAN.quality6  {COLOR: #ff0000;DISPLAY: block; FONT-WEIGHT: bold;}
SPAN.quality7  {COLOR: #CC6666;DISPLAY: block; FONT-WEIGHT: bold;}

A.quality0  {COLOR: #808080;FONT-WEIGHT: bold;}
A.quality1  {COLOR: #ffffff;FONT-WEIGHT: bold;}
A.quality2  {COLOR: #00ff00;FONT-WEIGHT: bold;}
A.quality3  {COLOR: #0068ff;FONT-WEIGHT: bold;}
A.quality4  {COLOR: #8000ff;FONT-WEIGHT: bold;}
A.quality5  {COLOR: #ff8000;FONT-WEIGHT: bold;}
A.quality6  {COLOR: #ff0000;FONT-WEIGHT: bold;}
A.quality7  {COLOR: #CC6666;FONT-WEIGHT: bold;}

SPAN.friendly {BACKGROUND-COLOR: transparent; COLOR: #00ff00}
SPAN.hostile  {BACKGROUND-COLOR: transparent; COLOR: #ff0000}
SPAN.neitral  {BACKGROUND-COLOR: transparent; COLOR: #FFFF00}

H3 {BORDER: 0px solid; MARGIN: 0px; WIDTH: 100%; COLOR: #FFCC33; BACKGROUND-COLOR: #000000; TEXT-ALIGN: center;}

IMG.reagent {width: 24px; border: 0px;}
IMG.item    {width: 30px; border: 0px;}
div.item    {FONT-SIZE: 12; font-weight: 800;}
IMG.spell   {width: 30px; border: 0px;}

TABLE.back {BORDER: 1px solid; PADDING: 2px; FONT-SIZE: 14px; WIDTH: 100%; BACKGROUND: url(img/up-center.gif) repeat-x; HEIGHT: 26px;}

TABLE.mainmenu    {COLOR: #FFCCCC; BACKGROUND-COLOR: #000000; WIDTH: 100%; FONT-SIZE: 10px; BORDER: 0; border-collapse: collapse;}
TABLE.mainmenu A  {COLOR: #FF9900; BACKGROUND-COLOR: #333366;}

DIV.menutitle          {color: #FFCCCC; font-size: 12px; background-color: #111111; font-weight: bold;}
DIV.menutitle input    {width: 100%;}
DIV.skin_menu_sub      {color: #FFCCCC; font-size: 10px; background-color: #000000;}
DIV.skin_pop_sub       {width: auto; min-width: 100px; background-color:  #000000; border: #666666 1px solid;}
DIV.skin_pop_sub       {color: #FFCCFF; font-size: 10px;}
DIV.skin_pop_row       {padding: 0px 5px;}
DIV.skin_pop_row A     {color: #FF9900; display: block;}
DIV.skin_pop_mrow      {padding: 0px 5px; background-color: #333333; }
DIV.skin_pop_mrow A    {color: #FF9900; display: block;}
DIV.skin_pop_arrow     {top: 0px; right: 3px;}

TABLE.mainbody           {WIDTH: 100%; COLOR: #FFFFFF; BACKGROUND-COLOR: #000000; BORDER: 0; border-collapse: collapse;}
TABLE.mainbody TD        {COLOR: #FFFFFF;}
TABLE.mainbody TD.body   {COLOR: #FFFFFF;}

TABLE.item             {BACKGROUND-COLOR:transparent; padding: 0px;}
TABLE.spell            {BACKGROUND-COLOR:transparent; padding: 0px;}
TABLE.creature         {BACKGROUND-COLOR:transparent; padding: 0px;}
TABLE.gameobject       {BACKGROUND-COLOR:transparent; padding: 0px;}

TABLE.tooltip              {BORDER: 0px solid;  BACKGROUND-COLOR: transparent; border-collapse: collapse;}
TABLE.tooltip TD.tiptopl   {WIDTH:  8px;HEIGHT:  8px;BACKGROUND: url(Tooltip/tooltip.png)   0%  0% no-repeat;}
TABLE.tooltip TD.tiptop    {WIDTH: auto;HEIGHT:  8px;BACKGROUND: url(Tooltip/tooltip.png)  50%  0% no-repeat;}
TABLE.tooltip TD.tiptopr   {WIDTH:  8px;HEIGHT:  8px;BACKGROUND: url(Tooltip/tooltip.png) 100%  0% no-repeat;}
TABLE.tooltip TD.tipl      {WIDTH:  8px;HEIGHT: auto;BACKGROUND: url(Tooltip/tooltip.png)   0% 50% no-repeat;}
TABLE.tooltip TD.tipbody   {BACKGROUND: url(Tooltip/tooltip.png)  50% 50% no-repeat; padding: 0px;}
TABLE.tooltip TD.tipr      {WIDTH:  8px;HEIGHT: auto;BACKGROUND: url(Tooltip/tooltip.png) 100%  50% no-repeat;}
TABLE.tooltip TD.tipbottoml{WIDTH:  8px;HEIGHT:  8px;BACKGROUND: url(Tooltip/tooltip.png)   0% 100% no-repeat;}
TABLE.tooltip TD.tipbottom {WIDTH: auto;HEIGHT:  8px;BACKGROUND: url(Tooltip/tooltip.png)  50% 100% no-repeat;}
TABLE.tooltip TD.tipbottomr{WIDTH:  8px;HEIGHT:  8px;BACKGROUND: url(Tooltip/tooltip.png) 100% 100% no-repeat;}

TABLE.maptooltip           {font-size: 10px;}
TABLE.maptooltip TD.name   {font-size: 12px;}

TABLE.livesearch    {BORDER:#330000 1px solid; color: #FFFFFF; background: url(img/ls_data.gif); FONT-SIZE: 12px;}
TABLE.livesearch TR {BORDER:#330000 1px solid;}

TABLE.border             {BORDER: 0px solid; BACKGROUND-COLOR: transparent; border-collapse: collapse;}
TABLE.border TD.btopl    {WIDTH: 8px;HEIGHT: 8px;BACKGROUND: url(Tooltip/tooltip.png)   0% 0% no-repeat;}
TABLE.border TD.btop     {           HEIGHT: 8px;BACKGROUND: url(Tooltip/tooltip.png)  50% 0% no-repeat;}
TABLE.border TD.btopr    {WIDTH: 8px;HEIGHT: 8px;BACKGROUND: url(Tooltip/tooltip.png) 100% 0% no-repeat;}
TABLE.border TD.bl       {WIDTH: 8px;BACKGROUND: url(Tooltip/tooltip.png)   0% 50% no-repeat;}
TABLE.border TD.bbody    {           BACKGROUND: url(Tooltip/tooltip.png)  50% 50% no-repeat; padding: 0px;}
TABLE.border TD.br       {WIDTH: 8px;BACKGROUND: url(Tooltip/tooltip.png) 100% 50% no-repeat;}
TABLE.border TD.bbottoml {WIDTH: 8px;HEIGHT: 8px;BACKGROUND: url(Tooltip/tooltip.png)   0% 100% no-repeat;}
TABLE.border TD.bbottom  {           HEIGHT: 8px;BACKGROUND: url(Tooltip/tooltip.png)  50% 100% no-repeat;}
TABLE.border TD.bbottomr {WIDTH: 8px;HEIGHT: 8px;BACKGROUND: url(Tooltip/tooltip.png) 100% 100% no-repeat;}

TABLE.details          {BORDER: 0px; FONT-SIZE: 14px; border-collapse: collapse; border-spacing: 0; width: 100%;}
TABLE.details A        {TEXT-DECORATION: none;}
TABLE.details TD       {COLOR: #9E8D51; BORDER: #CCCCCC 1px solid; PADDING: 2px; vertical-align: middle;}
TABLE.details TD.head  {COLOR: #ffdd00; BORDER: 0px; BACKGROUND-COLOR: transparent; FONT-SIZE: 16px; FONT-WEIGHT: 800;  TEXT-ALIGN: center;}
TABLE.details TH       {BORDER:#CCCCCC 1px solid; COLOR: #FFFFCC; BACKGROUND-COLOR: #333300; FONT-WEIGHT: 500;}

TABLE.charttborder          {BORDER: 0; border-collapse: collapse;}
TABLE.charttborder TD.ptopl {WIDTH: 9px;HEIGHT: 9px;BACKGROUND-POSITION: left;   BACKGROUND-IMAGE: url(Tooltip/topleft.gif);BACKGROUND-REPEAT: no-repeat;}
TABLE.charttborder TD.ptop  {           HEIGHT: 9px;BACKGROUND-POSITION: center 50%; BACKGROUND-IMAGE: url(Tooltip/top.gif);BACKGROUND-REPEAT: repeat-x;}
TABLE.charttborder TD.ptopr {WIDTH: 9px;HEIGHT: 9px;BACKGROUND-POSITION: right;  BACKGROUND-IMAGE: url(Tooltip/topright.gif);BACKGROUND-REPEAT: no-repeat;}
TABLE.charttborder TD.pl    {WIDTH: 9px;BACKGROUND-POSITION: left;   BACKGROUND-IMAGE: url(Tooltip/left.gif);BACKGROUND-REPEAT: repeat-y;}
TABLE.charttborder TD.pr    {WIDTH: 9px;BACKGROUND-POSITION: right;  BACKGROUND-IMAGE: url(Tooltip/right.gif);BACKGROUND-REPEAT: repeat-y;}
TABLE.charttborder TD.pbottoml {WIDTH: 9px;HEIGHT: 8px;BACKGROUND-POSITION: left;   BACKGROUND-IMAGE: url(Tooltip/bottomleft.gif);BACKGROUND-REPEAT: no-repeat;}
TABLE.charttborder TD.pbottom  {           HEIGHT: 8px;BACKGROUND-POSITION: center 50%; BACKGROUND-IMAGE: url(Tooltip/bottom.gif);BACKGROUND-REPEAT: repeat-x;}
TABLE.charttborder TD.pbottomr {WIDTH: 9px;HEIGHT: 8px;BACKGROUND-POSITION: right;  BACKGROUND-IMAGE: url(Tooltip/bottomright.gif);BACKGROUND-REPEAT: no-repeat;}

TABLE.report              {width: 100%; BORDER:  0px solid; font-size: 13px;}
TABLE.report TH           {BORDER:#CCCCCC 1px solid;  background-color: transparent; }
TABLE.report TD           {COLOR: #9E8D51; BORDER:#999999 1px solid;}
TABLE.report TD.head      {BORDER:#000000 0px solid; BACKGROUND: url(img/up-center.gif) repeat-x; HEIGHT: 26px; BACKGROUND-COLOR: transparent;}
TABLE.report TD.page      {COLOR: #FFFFFF; BACKGROUND-COLOR: #330000; FONT-SIZE: 13px; TEXT-ALIGN: center;}
TABLE.report TR.notknow   {BACKGROUND-COLOR: #330000; FONT-SIZE: 13px; TEXT-ALIGN: center;}
TABLE.report TD.rank             {COLOR: #C000F0; TEXT-ALIGN: center;}
TABLE.report TD.player           {TEXT-ALIGN: center;}
TABLE.report TD.player A:link    {COLOR: #FF9900; TEXT-DECORATION: none}
TABLE.report TD.player A:visited {COLOR: #FF9900; TEXT-DECORATION: none}
TABLE.report TD.skill_category   {COLOR: #FFFF99; background: #003333;}
TABLE.report TD.skill_name       {COLOR: #FFFFCC;}
TABLE.report TD.teamreputation   {COLOR: #FFFF99; background: #003333;}
TABLE.report TD.reputation       {COLOR: #FFFFCC;}
TABLE.report TD.rep_value        {COLOR: #FFFFCC;}

div.skill_bar   {border:1px solid #CCCCFF;}
div.rep_bar     {border:1px solid #CCCCFF;}

/* Tabs*/
.reportContainer {border: 0px solid #000;}
.my_tabs     {font-size: 12px; padding: 3px 5px;}
.my_tabs li  {font-weight: 400;}
.my_tabs li          a{color: #F90;cursor: pointer;padding: 3px; margin-right: 2px; border-bottom: 2px solid #CCCCFF;background: #000;}
.my_tabs li.selected a{color: #FFF; background: #333;border-bottom-color: transparent;}
.my_tabs li          a:hover{color: #F90;}
.my_tabs li.selected a:hover{color: #FFF;}

div.srank       {COLOR: #FFFFFF; font-size: 9px;}
div.srank    A  {COLOR: #FFFFFF; font-size: 9px;}
div.subname     {COLOR: #008800; font-size: 9px;}
div.rank        {COLOR: #CC9933; font-size: 9px;}
div.rank     A  {COLOR: #CC9933; font-size: 9px;}
div.areaname    {COLOR: #CC9933; font-size: 9px;}
div.areaname A  {COLOR: #CC9933; font-size: 9px;}
div.reqfocus    {COLOR: #CC9933; font-size: 9px;}
div.reqfocus A  {COLOR: #99CC33; font-size: 9px;}

TABLE.quest         {BACKGROUND-COLOR: transparent; border: none; width: 95%;}
TABLE.quest TD.mark {COLOR: #FFFFFF; BACKGROUND-COLOR: transparent; }
TABLE.quest TD.head {COLOR: #ffdd00; BACKGROUND-COLOR: transparent; FONT-WEIGHT: 800; }

TABLE.talenttab         {border: #CCCCFF 1px solid; background: #333333;}
TABLE.talenttab TD      {border: #CCCCFF 1px solid;}
TABLE.talenttab TD.head {BACKGROUND: url(img/up-center.gif) repeat-x; HEIGHT: 26px; BACKGROUND-COLOR: transparent;}
TABLE.talent            {BORDER: 0px;}
TABLE.talent TD         {BORDER: 0px;}


DIV.faq    {COLOR: #CCFFFF; font-size: 12px;}
DIV.faq H6 {COLOR: #339999; font-size: 14px;}
DIV.faq H4 {COLOR: #339999; font-size: 14px;}
DIV.faq H3 {BORDER:#000000 0px solid; BACKGROUND: url(img/up-center.gif) repeat-x; HEIGHT: 26px; BACKGROUND-COLOR: transparent; font-size: 16px; padding-top: 3px;}
DIV.faq A  {COLOR: #FF9900;}
DIV.faq B  {COLOR: #AACCCC;}

TABLE.faqctrl   {WIDTH: 100%; COLOR: #000000; FONT-SIZE: 12px;}
TABLE.faqctrl A:hover  {COLOR: #FF9900; BACKGROUND-COLOR: #003366}
TABLE.faqctrl A:link   {COLOR: #FF9900; TEXT-DECORATION: none;}
TABLE.faqctrl A:visited{COLOR: #FF9900; TEXT-DECORATION: none;}
TABLE.faqtable    {COLOR: #FFFFCC;}

span.backlink A:hover  {BACKGROUND-COLOR: #003366}
span.backlink A:link   {COLOR: #FF9900; TEXT-DECORATION: underline;FONT-SIZE: 11px;}
span.backlink A:visited{COLOR: #FF9900; TEXT-DECORATION: underline;FONT-SIZE: 11px;}

TABLE.back      {width: 100%; BORDER: 0px; COLOR: #000000;}

TABLE.find                {border: #5E3B20 1px solid;BACKGROUND-COLOR: #CCCCAA;}
TABLE.find TD             {COLOR: #000033; border:#5E3B20 1px solid;}
TABLE.find TD.bottom      {BACKGROUND-COLOR: transparent;}
TABLE.findtop             {COLOR: #000000;}
TABLE.findtop TD.topleft  {WIDTH: 72px; HEIGHT: 41px;BACKGROUND-POSITION:  left; BACKGROUND-IMAGE: url(left_page_head.gif); BACKGROUND-REPEAT: no-repeat;}
TABLE.findtop TD.top      {COLOR: #FFFFFF; BACKGROUND-COLOR: #5E3B20;text-align: center;}
TABLE.findtop TD.topright {WIDTH: 72px; HEIGHT: 41px;BACKGROUND-POSITION: right; BACKGROUND-IMAGE: url(right_page_head.gif); BACKGROUND-REPEAT: no-repeat;}

TABLE.reagents  TD        {BORDER: 0px; font-size: 10;}
TABLE.no_border TD        {BORDER: 0px; font-size: 10;}
table.quest_reward TD     {BORDER: 0px;}

TABLE.stattext  TD        {TEXT-ALIGN:  left; PADDING: 0px; PADDING-LEFT:  5px; COLOR: #dfb900; BORDER: 0px;}
